/*============================================

	Tarasenko Sergei
	E-mail: tarasenko-by@mail.ru
	VK.com: vk.com/sergei_tarasenko
	Site: creade.ru
	© 2014-2017

============================================
	Шрифты

	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
============================================*/
/*============================================ 
	Цвета
============================================*/
/*============================================ 
	Сброс
============================================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
html,
html a {
  -webkit-font-smoothing: antialiased;
}
/*============================================ 
	Основные стили
============================================*/
body,
select,
input,
textarea,
button {
  font: normal 14px/1.5 "Exo 2", Arial, Helvetica, sans-serif;
  outline: none;
  color: #444;
}
a {
  outline: none;
  color: #959fbb;
  text-decoration: none;
}
a:hover {
  color: #blue;
  text-decoration: underline;
}
a img {
  border: 0 none;
}
a > img {
  vertical-align: bottom;
}
/* Заголовки H1-6 */
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  letter-spacing: -0.01em;
  line-height: 1.35em;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
h1,
.h1 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
h2,
.h2 {
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
}
h3,
.h3 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}
h4,
.h4 {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
h5,
.h5 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.hide {
  display: none;
}
.title_hide {
  left: -9999px;
  position: absolute;
  top: -9999px;
  overflow: hidden;
  width: 0;
  height: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
strong {
  font-weight: 700;
}
.pmn {
  padding: 0px;
  margin: 0px;
}
.animate {
  transition: all 0.2s ease-in-out;
}
.br {
  border-radius: 4px;
}
.img-center {
  margin: auto;
}
.ul-ui {
  padding: 0px;
  margin: 0px;
}
.ul-lsn {
  list-style: none;
}
.ul-line li {
  display: inline-block;
  margin-right: 20px;
}
blockquote {
  background: #f1f1f1;
  padding: 20px;
  margin: 10px 0px;
  border-left: 2px solid #6e96ff;
  border-radius: 0px 4px 4px 0px;
}
/*============================================ 
	Основные блоки
============================================*/
.content {
  border-right: 1px solid #f5f5f7;
  border-left: 1px solid #f5f5f7;
  padding: 0px;
  margin: 0px;
}
.content .content-block {
  padding: 0px 80px;
  margin-bottom: 80px;
  position: relative;
  margin-top: -80px;
}
.content .content-block .content-wrapper {
  background: #fff;
  padding: 40px 40px 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.content .content-block .content-wrapper h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.block {
  margin-bottom: 40px;
}
/*============================================ 
	Кнопки
============================================*/
.btn {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.btn-blue {
  background: #6e96ff;
  color: #fff;
}
.btn-blue:hover {
  background: #5078e1;
  color: #fff;
}
/*============================================ 
	Шапка сайта
============================================*/
header {
  background: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: relative;
}
header .row {
  padding: 0px 40px;
}
header .row .logotype {
  padding: 20px 0px;
}
header .row .logotype a {
  color: #434f74;
}
header .row .logotype a:hover,
header .row .logotype a:focus {
  text-decoration: none;
}
header .row .logotype strong {
  font-size: 16px;
}
header .row .logotype span {
  position: relative;
  top: -2px;
  font-weight: 500;
  text-transform: uppercase;
  color: #959fbb;
  font-size: 10px;
  margin-left: 10px;
}
header .navbar {
  border: none;
  padding: 0px;
  margin: 0px;
}
header .navbar ul li a {
  display: block;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
header .navbar ul li a:hover,
header .navbar ul li a:focus {
  background: none;
  color: #434f74;
}
header .navbar ul li.active a {
  color: #6e96ff;
}
/*============================================ 
	Сайдбар
============================================*/
.sidebar {
  padding: 40px;
}
.sidebar .widget {
  margin-bottom: 40px;
}
.sidebar .widget .widgettitle {
  font-weight: 600;
  margin-bottom: 30px;
  display: block;
}
.sidebar .widget ul {
  font-weight: 500;
}
.sidebar .widget ul li {
  margin-bottom: 15px;
  color: #959fbb;
}
.sidebar .widget ul li a .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: #959fbb;
  vertical-align: top;
  margin-right: 10px;
}
.sidebar .widget ul li a:hover,
.sidebar .widget ul li a:focus {
  text-decoration: none;
}
.sidebar .widget ul li a:hover .icon,
.sidebar .widget ul li a:focus .icon {
  fill: #434f74;
}
.sidebar .widget ul li a span {
  color: #d34575;
  font-weight: bold;
}
/*============================================ 
	Слайд
============================================*/
.slide {
  background: url(../images/slide.jpg) center center no-repeat;
  background-size: cover;
  padding: 80px 120px 160px;
  color: #fff;
  font-weight: 500;
}
.slide img {
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.slide .col-sm-10 {
  padding-left: 40px;
}
.slide p {
  margin-bottom: 15px;
}
.slide h5 {
  padding: 0px;
  margin: 0px;
  margin-bottom: 15px;
}
.slide li {
  font-weight: 600;
  border-radius: 4px;
}
.slide li a {
  display: block;
  padding: 3px 6px;
  color: #fff;
}
.slide li a:hover {
  text-decoration: none;
}
.slide li.youtube {
  background: #cc181e;
  transition: all 0.2s ease-in-out;
}
.slide li.youtube:hover {
  background: #ea363c;
}
.slide li.telegram {
  background: #0088cc;
  transition: all 0.2s ease-in-out;
}
.slide li.telegram:hover {
  background: #1ea6ea;
}
.slide li.vk {
  background: #507299;
  transition: all 0.2s ease-in-out;
}
.slide li.vk:hover {
  background: #6e90b7;
}
.slide .breadcrumb {
  position: relative;
  top: 60px;
  left: -45px;
  background: none;
  padding: 0px;
  margin: 0px;
}
.slide .breadcrumb li {
  display: inline-block;
}
.slide .breadcrumb li .divider {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  font-weight: 100;
  opacity: 0.6;
  cursor: default;
}
.slide .breadcrumb a {
  display: inline-block;
  padding: 3px 6px;
  color: #fff;
  font-weight: normal;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}
.slide .breadcrumb a:hover {
  text-decoration: none;
  opacity: 1;
}
/*============================================ 
	Краткая новость
============================================*/
.story {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}
.story:last-child {
  padding-bottom: 0px;
  border: none;
}
.story img {
  border-radius: 4px;
  position: relative;
  z-index: 2;
  width: 100%;
}
.story .col-sm-5:after {
  content: " ";
  display: block;
  width: 90%;
  height: 10px;
  background: #333;
  position: absolute;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
  z-index: 0;
  margin-top: -17px;
  margin-left: 5%;
}
.story .col-sm-7 {
  padding-left: 20px;
}
.story .col-sm-7 h2 {
  padding: 0px;
  margin: 0px;
}
.story .col-sm-7 h2 a {
  color: #6e96ff;
  font-weight: 600;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  line-height: 1.3;
}
.story .col-sm-7 .info {
  margin-top: 20px;
}
.story .col-sm-7 .info .icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  fill: #959fbb;
}
.story .col-sm-7 .info .date {
  float: left;
  width: 50%;
  color: #959fbb;
}
.story .col-sm-7 .info .date .icon {
  position: relative;
  top: 2px;
}
.story .col-sm-7 .info .category {
  float: left;
  width: 50%;
  font-size: 14px;
}
.story .col-sm-7 .info .category .icon {
  position: relative;
  top: 3px;
}
.story .col-sm-7 .info .category a {
  color: #959fbb;
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
}
.story .col-sm-7 .info .category a:hover {
  text-decoration: none;
}
.full-story {
  padding-bottom: 20px !important;
}
.full-story a {
  color: #6e96ff;
}
.full-story strong,
.full-story b {
  font-weight: 600;
}
.full-story img {
  margin: 20px 0px;
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
}
.full-story .title {
  font-size: 24px;
}
.full-story .info {
  margin-top: 0px;
  margin-bottom: 20px;
}
.full-story .info .date {
  color: #959fbb;
  font-size: 12px;
}
.full-story .meta-block {
  border-top: 1px solid #eee;
  margin: 0px;
  margin-top: 40px;
}
.full-story .meta-block .meta {
  color: #434f74;
  font-size: 12px;
  margin-top: 20px;
}
.full-story .meta-block .meta ul {
  margin-bottom: 5px;
}
.full-story .meta-block .share {
  margin-top: 15px;
  text-align: right;
}
.search-story {
  border-top: 1px solid #eee;
  padding: 20px 0px;
}
.search-story h2 {
  font-size: 20px;
  display: block;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}
.search-story h2 a {
  color: #6e96ff;
}
.search-story .info {
  margin-top: 20px;
}
.search-story .info .icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  fill: #959fbb;
}
.search-story .info .date {
  float: left;
  width: 50%;
  color: #959fbb;
}
.search-story .info .date .icon {
  position: relative;
  top: 2px;
}
.search-story .info .category {
  float: left;
  width: 50%;
  font-size: 14px;
}
.search-story .info .category .icon {
  position: relative;
  top: 3px;
}
.search-story .info .category a {
  color: #959fbb;
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
}
.search-story .info .category a:hover {
  text-decoration: none;
}
.page h1.title {
  margin-bottom: 20px;
}
.error-page h2 {
  font-size: 42px;
}
/*============================================ 
	Комментарии
============================================*/
#comments h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
#comments .comment-list.media-list li {
  margin-bottom: 20px;
}
#comments .comment-list.media-list li .media-left img {
  border-radius: 4px;
}
#comments .comment-list.media-list li .media-body {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}
#comments .comment-list.media-list li .media-body span.media-heading small {
  display: block;
  font-size: 12px;
  color: #959fbb;
}
#comments .comment-list.media-list li .media-body p {
  margin: 20px 0px;
}
#comments .comment-list.media-list li .children {
  padding-top: 20px;
}
#respond {
  margin-top: 40px;
  margin-bottom: 20px;
}
#respond h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
#respond .comment-notes {
  margin-bottom: 10px;
  color: #d34575;
}
#respond .form-group label {
  font-weight: 600;
}
#respond .help-block.form-allowed-tags,
#respond abbr,
#respond code {
  color: #959fbb;
}
/*============================================ 
	Футер
============================================*/
.footer {
  background: #30333b;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #eeeeee;
  font-size: 13px;
}
.footer .arrow-up .icon {
  width: 40px;
  height: 40px;
  fill: #eeeeee;
  border: 1px solid #4d515e;
  text-align: center;
  padding: 10px 0px 10px 7px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.footer .arrow-up .icon:hover,
.footer .arrow-up .icon:focus {
  border: 1px solid #eeeeee;
}
.btn-search {
  padding: 4px 10px;
}
.btn-search svg {
  width: 16px;
  height: 16px;
  fill: #434f74;
}
/*============================================ 
==============================================
==============================================

					Футер

==============================================
==============================================
============================================*/
@media screen and (max-width: 991px) {
  header .logotype {
    text-align: center;
  }
  header nav ul {
    width: 100%;
  }
  header .navbar-header button {
    border: 1px solid #6e96ff;
    color: #6e96ff;
    font-weight: 600;
    padding: 6px 15px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-header {
    text-align: center;
  }
  .navbar-nav {
    text-align: center !important;
    margin: 0px;
  }
  .navbar-header {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  .content-block {
    padding: 0px 20px !important;
  }
  ul.breadcrumb {
    display: none;
  }
  .media-left {
    display: none;
  }
  header .row {
    padding: 0px;
  }
  header .row .container {
    padding: 0px;
  }
  .content .content-block {
    margin-top: -20px;
  }
  .content .content-block .content-wrapper {
    padding: 20px;
  }
  .slide {
    padding: 40px;
    text-align: center;
  }
  .slide .col-sm-2 img {
    width: 100px;
    margin: auto !important;
  }
  .slide .col-sm-10 {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  article {
    margin-bottom: 0px !important;
  }
  article .col-sm-5 {
    margin-bottom: 20px;
  }
  article .col-sm-5:after {
    display: none !important;
  }
  article .col-sm-7 {
    padding: 0px;
    margin: 0px;
    padding-left: 0px !important;
  }
  .arrow-up {
    margin: 20px 0px;
    text-align: center;
  }
}
